*{
    padding: 0px;
    margin: 0px;
}
body{
    position: relative;
    width:375px;
    height: 812px;
    z-index: 1;
    border: 1px solid rgb(211, 211, 211);
}
.field_dark{
    position: absolute;
    top: 18px;
    left: 22px;
    z-index: 2;
}
.return{
    position: absolute;
    margin: 0px;
    top: 50px;
    left: 22px;
    z-index: 2;
}
.scan_dark{
    position: absolute;
    top: 45px;
    left: 315px;
    z-index: 2;
}
.parking_fee{
    position: absolute;
    margin: 10px;
    top: 40px;
    left: 140px;
    z-index: 2;
    font-size: 18px;
    color: rgb(102, 102, 102);
}
.types_of_license_plates{
    position: absolute;
    margin: 0px;
    top: 100px;
    left: 22px;
    z-index: 2;
    color: rgb(6, 151, 219);
    font-size: 14px;
    font-weight: bold;
}
.bt_car{
    position: absolute;
    margin: 0px;
    top: 130px;
    left: 70px;
    z-index: 2;
}
.bt_locomotive{
    position: absolute;
    margin: 0px;
    top: 130px;
    left: 200px;
    z-index: 2;
}
.car{
    position: absolute;
    margin: 0px;
    top: 190px;
    left: 100px;
    z-index: 2;
    color: rgb(164, 164, 164);
    font-size: 12px;
}
.locomotive{
    position: absolute;
    margin: 0px;
    top: 190px;
    left: 230px;
    z-index: 2;
    color: rgb(164, 164, 164);
    font-size: 12px;
}
.bind_car_number{
    position: absolute;
    margin: 0px;
    top: 230px;
    left: 22px;
    z-index: 2;
    color: rgb(6, 151, 219);
    font-size: 14px;
    font-weight: bold;
}
.please_select_the_license_plate_number{
    position: absolute;
    margin: 0px;
    top: 268px;
    left: 35px;
    z-index: 3;
    color: rgb(164, 164, 164);
    font-size: 12px;
}
.field_rectangle_1{
    position: absolute;
    margin: 0px;
    top: 260px;
    left: 22px;
    z-index: 2;
}
.down_arrow{
    position: absolute;
    margin: 0px;
    top: 272px;
    left: 318px;
    z-index: 2;
}
.license_plate_number{
    position: absolute;
    margin: 0px;
    top: 310px;
    left: 22px;
    z-index: 2;
    color: rgb(6, 151, 219);
    font-size: 14px;
    font-weight: bold;
}
.please_enter_the_license_plate_number{
    position: absolute;
    margin: 0px;
    top: 347px;
    left: 35px;
    z-index: 3;
    color: rgb(164, 164, 164);
    font-size: 12px;
}
.field_rectangle_2{
    position: absolute;
    margin: 0px;
    top: 340px;
    left: 22px;
    z-index: 2;
}
.check{
    position: absolute;
    margin: 0px;
    top: 390px;
    left: 22px;
    z-index: 2;
}
.binding_information_for_quick_inquiries_about_the_electricity_bill_payment_in_the_future{
    position: absolute;
    margin: 0px;
    top: 393px;
    left: 55px;
    z-index: 2;
    color: rgb(164, 164, 164);
    font-size: 12px;
}
.please_select_a_county{
    position: absolute;
    margin: 0px;
    top: 430px;
    left: 22px;
    z-index: 2;
    color: rgb(6, 151, 219);
    font-size: 14px;
    font-weight: bold;
}
.field_rectangle_3{
    position: absolute;
    margin: 0px;
    top: 460px;
    left: 22px;
    z-index: 2;
}
.please_choose{
    position: absolute;
    margin: 0px;
    top: 468px;
    left: 35px;
    z-index: 2;
    color: rgb(164, 164, 164);
    font-size: 12px;
}
.bt_gradient{
    position: absolute;
    margin: 0px;
    top: 528px;
    left: 22px;
    z-index: 2;
}
.next_step{
    position: absolute;
    margin: 0px;
    top: 468px;
    left: 325px;
    z-index: 3;
}
.query_bill_payment{
    position: absolute;
    margin: 0px;
    top: 534px;
    left: 147px;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-size: 12px;
}